.header {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 7vw 0;
}
.time {
  border-radius: 9999px;
  font-size: 0.8rem;
  padding: 0.5em 1em;
  border: 1px solid color-mix(in srgb, currentColor 40%, transparent);
}

.header .h1 {
  margin: 0 0 1rem;
  line-height: 1.2;
  font-size: clamp(1.5rem, 3vw, var(--h1-font-size));
}
.hasCover .h1 {
  color: #fff;
}
.header + .main {
  margin: 3rem 0;
}

.hasCover {
  color: #fff;
}
.hasCover .time {
  border-color: rgba(255, 255, 255, 0.5);
}

.footer {
  margin: 5rem 0;
}

.coverImageCaption {
  margin: 2rem 0 0;
  font-size: 0.7rem;
}
.coverImageCaption a {
  color: #fff;
}
