:root {
  --degree: 236;
  --saturation: 50%;
  --lightness: 49%;
  --background-body: #f9f9f9;
  --code: var(--text-main);
  --links: hsl(var(--degree), var(--saturation), var(--lightness));
  --focus: hsla(var(--degree), var(--saturation), var(--lightness), 0.7);
  --background: transparent;
  --selection: hsla(var(--degree), var(--saturation), var(--lightness), 0.2);
}
body {
  line-height: 1.75;
}
